---
// src/components/Footer.astro
---
<footer style="text-align: center; padding: 10px; background-color: #f0f0f0;">
  <p>&copy; 2025 Programador. Todos los derechos reservados.</p>
  <div>
    <a href="https://facebook.com/tuusuario" target="_blank">Facebook</a> | 
    <a href="https://twitter.com/tuusuario" target="_blank">Twitter</a> | 
    <a href="https://instagram.com/tuusuario" target="_blank">Instagram</a>
  </div>
</footer>
